{% extends "goalmatrix/base.html" %}
{% load static %} 
{% block title %}Employee Matrix{% endblock %}

{% block content %}
	<h1>{{ employee }}</h1>
	<h2>{{ employee.company_id }}</h2>
	<table>
	{% for assignment in employee.assignment_set.all %}
		<tr>
			<td>{{ assignment.goal.description}}</td>
			{% for criteria in assignment.goal.acceptancecriteria_set.all%}
			<td>{{ criteria }}</td>
			{% endfor%}
			<td>{{ assignment.weight}}</td>
			<td>
				<ol>
					{% for deliverable in assignment.goal.deliverable_set.all %}
					<li>{{ deliverable.description }}</li>
					{% endfor %}
				</ol>
			</td>
		<tr>
	{% endfor %}
	</table>
{% endblock %}
