{% extends "goalmatrix/base.html" %}
{% load static %} 
{% block title %}Employee Matrix{% endblock %}

{% block content %}
	 <script>
		$( document ).ready(function() {
			calculate_grade();
		});
	</script>
	<div>{{ employee }} {{ employee.company_id }}</div>
	<div><a href="{% url 'show_team_employees' employee.team.short_name %}" > {{employee.team.short_name}} </a></div>
	{% if message %}
		<div class="message">{{ message }}</div>
	{% endif%}
	<form action="{% url 'manage_goal_matrix' employee.username  'update_goals'  %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="username" value="{{ employee.username }}" />
	<table id="matrix">
		'<thead>
			<tr>
				<td>Objetivo</td>
				<td>O</td>
				<td>E</td>
				<td>S</td>
				<td>N</td>
				<td>Peso</td>
				<td>Nota del Objetivo</td>
				<td>Nota</td>
				<td>Entregables</td>
			</tr>
		</thead>
		<tbody>
	{% for assignment in employee.assignment_set.all %}
		<tr class="goal">
			<td class="goal-description">{{ assignment.goal.description}}</td>
			{% if assignment.goal.acceptancecriteria_set.count == 4 %}
			{% for criteria in assignment.goal.acceptancecriteria_set.all%}
			<td class="goal-criteria">{{ criteria }}</td>
			{% endfor%}
			{% else %}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			{% endif%}
			<td class="goal-weight">{{ assignment.weight}}%</td>
			<td class="goal-grade"><input type="text" name="grade-{{assignment.goal.id}}" value="{{ assignment.goal.grade}}"></td>
			<td class="goal-emp-grade">&nbsp;</td>
			<td class="goal-deliverable">
				<ol>
					{% for deliverable in assignment.goal.deliverable_set.all %}
					<li>{{ deliverable.description }}</li>
					{% endfor %}
				</ol>
			</td>
		</tr>
	{% endfor %}
	
	</tbody>
	<tfoot>
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>{{ employee.total_assignment }}%</td>
		<td>&nbsp;</td>
		<td id="employee-grade">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tfoot>
	</table>
	 <input type="submit" value="Save" class="btn btn-primary">
	</form>
{% endblock %}
