{% extends "goalmatrix/base.html" %}
{% load static %} 
{% block title %}Employee Matrix{% endblock %}

{% block content %}
	<h1>{{ team.name }}</h1>
	<div class="employee-info-header">
			<div class="col-md-2">
				Employee
			</div>
			<div class="col-md-1">
				 Grade
			</div>
			<div class="col-md-9">
			 Actions
			</div>
		</div>
	{% for employee in team.employee_set.all %}
		<div class="employee-info">
			<div class="col-md-2">
				<a href="{% url 'show_assingments' employee.username %}"> {{ employee}}</a>
			</div>
			<div class="col-md-1">
				{{ employee.assignment_grade}}%
			</div>
			<div class="col-md-4">
			<a href="{% url 'manage_goal_matrix' employee.username  'edit' %}"> Editar Matriz</a>
			</div>
			<div class="col-md-5">
			<a href="{% url 'show_assingments' employee.username  %}"> Matriz</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}

